<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content="水果君,MrFruit" />
		<meta name="keywords" content="水果君,MrFruit" />
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0 - all posts" href="http://mrfuit.com/feed/" />
		<title>查看历史订单</title>
		<link rel="stylesheet" type="text/css" media="all" href="../static/css/history.css" />
        <link rel="stylesheet" type="text/css" media="all" href="../static/css/header.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="../static/css/jquery-ui.css" />
  		<script src="../static/js/jquery-1.9.1.js"></script>
  		<script src="../static/js/jquery-ui.js"></script>
		<script>
			$(function() {
   				 $( ".datepicker" ).datepicker();
 			 });	
			 
			 
			$(document).ready(function(){
					
					$(".page:gt(9)").hide();
					var total = 0;
					$(".page").each(function(index, element) {
                        total++;
                    });
					var curPage = 10;
					var curNum = 1;
					
					var totalNum = Math.round(total / curPage);
					
					var next=$(".next");
					var prev=$(".prev");
					$(".total").text(totalNum);
					$(".current_page").text(curNum);
					 
					
					$(".next").click(function(){
						if(curNum == totalNum){
								return false;
							}
							else{
								curNum++;
								$(".current_page").text(curNum);
								$.each($('.page'),function(index,item){
									var start = curPage* (curNum-1);
									var end = curPage * curNum;
									if(index >= start && index < end){
										$(this).show();
									}else {
										$(this).hide(); 
									}
								});
							}
					});
					
					$(".prev").click(function(){
							if(curNum==1){
								return false;
							}else{
								curNum--;
								$(".current_page").text(curNum);
								$.each($('.page'),function(index,item){
									var start = curPage* (curNum-1);
									var end = curPage * curNum;
									if(index >= start && index < end){
										$(this).show();
									}else {
										$(this).hide(); 
									}
								});     
							}
							 
						})
			})


				
			
		</script>
	</head>
	<body onload="init()">
		<div id="top">
			<div id="header">
				
				<div id="logo">
					<a href="{{ url_for('order') }}"><img src="../static/images/logo.png" \></a>
				</div>
				
				<div id="menu">
					<ul>
                    	<li class="menu_li menu_big"><a>水果君爱你，{{ session.name }}</a></li>
						<li class="menu_li menu_small"><a href="/logout">退出登陆</a></li>
						<li class="menu_li menu_small"><a href="{{url_for('edit')}}">修改资料</a></li>
                        <li class="menu_li"><a>积分：{{ session.score }}个苹果</a></li>
                        <li class="menu_li menu_small"><a>积分规则是什么？</a></li>
                        
					</ul>
				</div>
				
                <div id="navi">
                	<ul>
                    	<li class="menu_li"><a href="{{url_for('history')}}">历史订单</a></li>
                        <li class="menu_li"><a href="{{url_for('msg')}}" target="_blank">给水果君留言</a></li>
                        <li class="menu_li"><a href="http://page.renren.com/601612744" target="_blank">加我人人</a></li>
                       
                    </ul>
                </div>
				
				<div id="submit">
					<button type="button" id="test" onclick="javascript:window.location.href='{{ url_for('order') }}'">返回首页</button>
				</div>
				
		  </div>
		</div>
		<div class="render"></div>
		<div id="content">
			
			<div class="list">
				<table class="list_table">
                	<thead>
					<tr>{% for message in get_flashed_messages() %}
      		<td>{{message}}</td>
    		{% endfor %}<tr>
                    	<tr>
                            <td>
                            	<table>
                                	<tr>
                                    	<td class="list_item">名称</td>
                            			<td class="list_quantity">数量</td>
                            			<td class="list_price">单价</td>
                           				<td class="list_cost">总价</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        
                    	<tr class="page"><td class="list_padding" colspan="2"><div></div></td></tr>
                    	<tr class="page">
                        	<td class="list_date">
                            </td>
                            <td>
                            	<table>
									{% for j in row%}
                                                <tr>
                                                    <td class="list_item">{{ j[0] }}</td>
                                                    <td class="list_quantity">{{ j[1] }}个</td>
                                                    <td class="list_price">{{ j[2] }}元/个</td>
                                                    <td class="list_cost">{{ j[2]*j[1]}}元</td>
                                                </tr>
									{% endfor %}
                                </table>
                            </td>
                        </tr>
                        
                        
                    </tbody>
                    <tfoot>
                    	<tr><td height="30px;" colspan="2"></td></tr>
                        <tr><td colspan="2" style="text-align:right;padding-right:20px;">
                            <div class="page_btn clear">
                                <span class="page_box">
                                    <a class="prev">上一页</a><span class="num"><span class="current_page">1</span><span style="padding:0 3px;">/</span><span class="total"></span></span><a class="next">下一页</a>
                                </span>
                            </div>
                        </td></tr>
                    </tfoot>
                </table>
			</div>
	
			
		</div>
	</body>
</html>