<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content="水果君,MrFruit" />
		<meta name="keywords" content="水果君,MrFruit" />
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0 - all posts" href="http://mrfuit.com/feed/" />
		<title>快来找答案~</title>
		<link rel="stylesheet" type="text/css" media="all" href="../static/css/qa.css" />
		<link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>
	</head>
	<body>
		<div id="content">
        	<div id="pic"><img src="../static/images/qa.png" /></div>
        	<div id="reg_form">
                <p id="title">常见问题解答。</p>
             
                
                        <p class="end">Q1:如何付钱？<br/>
                        </p>
                        <p>水果费用每周一结，每一周购买水果的同学会收到水果的一周账单，请在每周的周六周日结束时通过支付宝或者银行转账的方式进行付款。</p>
                        <br/>
                        
                        
                        <p class="end">Q2:怎么知道水果已经送到？<br/>
                        </p>
                        <p>水果默认在每天中午12点前送达寝室楼下 ，所以12点以后，亲们就可以自行到楼下领取水果了。如果发现水果没有送到，请登陆网站，把默认的“水果已收到”按钮取消成“水果未收到”，我们会及时联系您。</p>
                        <br/>
                       
                        
                        <p class="end">Q3:那如何保证水果质量呢？<br/>
                        </p>
                        <p>水果每天从水果批发中心直运到学校，减少存放时间，保证水果新鲜。水果的质量问题一直是水果君关注的中心，如果遇到任何水果质量问题，请在网站留言板留言，我们会在最快的时间内联系您。</p>
                        <br/>
                        
                        
                        <p class="end">Q4:水果种类不多？<br/>
                        </p>
                        <p>现在确定的水果种类是根据水果的受欢迎程度选择出来的，我们会根据同学的反馈逐渐增加水果种类，具体的水果种类由同学们选择。我的水果我做主。</p>
                        <br/>
                       
                        
                   
        	</div>
        </div>
	</body>
</html>