<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content="水果君,MrFruit" />
		<meta name="keywords" content="水果君,MrFruit" />
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0 - all posts" href="http://mrfuit.com/feed/" />
		<title>快来找答案~</title>
		<link rel="stylesheet" type="text/css" media="all" href="../static/css/qa.css" />
		<link rel="shortcut icon" href={{ url_for('static', filename='favicon.ico') }}>
	</head>
	<body style="font-size:14px;">
		<div id="content">
        	<div id="pic"><img src="../static/images/qa.png" /></div>
        	<div id="reg_form">
                <p id="title">常见问题解答。</p>
             
                
                        <p class="end">Q1:如何付钱？<br/>
                        </p>
                        <p>水果费用可以选择当天支付宝支付，当然为了方便亲们，也可以选择以后再说，到方便付钱的时候再付。水果君也会不定期上门收取，但是你们不会水果君这么奔波的，对吧？...</p>
                        <br/>
                        
                        
                        <p class="end">Q2:怎么知道水果已经送到？<br/>
                        </p>
                        <p>每天水果会在18:00之前送达寝室楼下，届时会有短信通知。如果出现没有拿到水果的情况，请及时在网站给水果君留言，或者联系客服人员。</p>
                        <br/>
                       
                        
                        <p class="end">Q3:那如何保证水果质量呢？<br/>
                        </p>
                        <p>水果每天从水果批发中心直运到学校，减少存放时间，保证水果新鲜。水果的质量问题一直是水果君关注的中心，如果遇到任何水果质量问题，请在网站留言板留言，我们会在最快的时间内联系您。
</p>
                        <br/>
                        
                        
                        <p class="end">Q4:水果种类不多？<br/>
                        </p>
                        <p>现在确定的水果种类是根据水果的受欢迎程度选择出来的，我们会根据同学的反馈逐渐增加水果种类，具体的水果种类由同学们选择。我的水果我做主。另外每周三会推出一款特别水果,每周不同,任意时间订购,最近的一个周三送达。。</p>
                        <br/>
                       
                        
                   
        	</div>
        </div>
	</body>
</html>