<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content="水果君,MrFruit" />
		<meta name="keywords" content="水果君,MrFruit" />
		<link rel="alternate" type="application/rss+xml" title="RSS 2.0 - all posts" href="http://mrfuit.com/feed/" />
		<title>快来找答案~</title>
		<link rel="stylesheet" type="text/css" media="all" href="../static/css/sorry.css" />
		<link rel="shortcut icon" href="../static/favicon.ico">
	</head>
	<body>
		<div id="content">
        	<div id="pic"><img src="../static/images/reg.png" /></div>
        	<div id="reg_form">
                <p id="title">水果君不见了？</p>
              <p>&nbsp;</p>
             
                
                        <p class="end" style="line-height:20px;font-size:18px;">水果君正在反思ing...<br/><br/><br/><br/>
                        </p>
                        <p style="line-height:20px;font-size:14px;color:#666">根据大家的留言反馈，水果君总结了问题，正在积极地改变。<br/><br/><p style="color:orange">（水果君弱弱的ps：已预订的水果会按时送达）                        
                        <p><br/>
                        
                        
                        </p><p class="end">&nbsp;</p>
<br/>
                       
                        
                   
        	</div>
        </div>
	</body>
</html>